body{
    background-color: black;
    color: white;
    font-family: "Iceland", sans-serif;
    font-size: x-large;
    margin: 0 0 ;
}

#nav-bar > ul{
    display: flex;
    align-content: center;
    justify-content: right;
    justify-items: center;
    align-items: center;
    gap: 7%;
    height: 0px;
    padding-right: 10px;
    font-size: x-large;
}

#nav-bar{
    
    background-color: black;
    color: white;
    border: 2px solid white;
    font-weight: bold;
    box-shadow: 3px 3px 2px white ;
    
    
}
.nav-item{
    list-style: none;
    padding: 1px;
    
}
.nav-item>a:hover{
    animation: nav_bar_hover 0.3s ease-in-out 0s 1 forwards;

}

@keyframes nav_bar_hover {
    from{
        scale: 1.0;
        background-color: rgb(0, 0, 0);
        color: white;
    }
    to {
        scale: 1.25;
        color: black;
        background-color: rgb(255, 255, 255);
    }
}

.nav-item > a {
    text-decoration: none;
    color: white;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 999; 
  pointer-events: none; 
}
nav{
      position: fixed;
    margin-top: 2px;
  background-color: rgba(255, 255, 255, 0.7);
  width: 99.5%;
  z-index: 1000;
}