body{
    background-color: black;
    color: white;
    font-family: "Iceland", sans-serif;
    font-size: x-large;
}

#nav-bar > ul{
    display: flex;
    align-content: center;
    justify-content: right;
    justify-items: center;
    align-items: center;
    gap: 7%;
    height: 40px;
    padding-right: 10px;
}

#nav-bar{
    border-radius:15px ;
    background-color: black;
    color: white;
    border: 2px solid white;
    font-weight: bold;
    opacity: 0.6;
}
.nav-item{
    list-style: none;
}


.nav-item > a {
    text-decoration: none;
    color: white;
}